body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin: 10px;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.bmw-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.image-bmw {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.div-image {
    margin-top: 50px;
    display: inline-block;
    border: 4px solid;
    border-radius: 5px;
    animation: colorChange 5s infinite
}

@keyframes colorChange {
    0% { border-color: #FFFFFF}
    50% { border-color: #003DA5}
    100% { border-color: #1D1B1E}
}

.bmw-button {
    background-color: #0076bb;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
